
  <ion-item color="warning2">
    <ion-input (ionChange)="escribirNombre()" color="dark"  type="text" placeholder="nombre" [(ngModel)]="nombre" text-capitalize></ion-input>
  </ion-item>

  <br>

  <ion-item color="warning2">
    <ion-input (ionChange)="escribirCorreo()" color="dark"  type="text" placeholder="Correo" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <br>

  <ion-list radio-group [(ngModel)]="rSexo">
      <ion-list-header color="warning">
          <ion-label color="dark">Seleccionar sexo </ion-label>
      </ion-list-header>

      <ion-item color="warning2">
        <ion-label>Masculino</ion-label>
        <ion-radio value="Male"></ion-radio>
      </ion-item>
      <ion-item color="warning2">
        <ion-label>Femenino</ion-label>
        <ion-radio value="Female"></ion-radio>
      </ion-item>
  </ion-list>

  <br>

  <ion-list   radio-group [(ngModel)]="rPerfil">
      <ion-list-header color="warning">
         <ion-label color="dark">Seleccionar perfil </ion-label>
      </ion-list-header>
    <ion-item color="warning2">
      <ion-label>Administrador</ion-label>
      <ion-radio value="admin"></ion-radio>
    </ion-item>
    <ion-item color="warning2">
      <ion-label>Usuario</ion-label>
      <ion-radio value="usuario"></ion-radio>
    </ion-item>
    <ion-item color="warning2">
      <ion-label>Invitado</ion-label>
      <ion-radio value="invitado"></ion-radio>
    </ion-item>
    <ion-item color="warning2">
      <ion-label>Jugador</ion-label>
      <ion-radio value="jugador"></ion-radio>
    </ion-item>
</ion-list>

  <br>

  <ion-item color="warning2">
    <ion-input (ionBlur)="validarSeisDigitos()" (keypress)="validarNum($event)" (ionChange)="validarCantDigitos($event)"  (ionChange)="confirmPassw()" type="password" placeholder="Clave" [(ngModel)]="passw1"></ion-input>
  </ion-item>

  <ion-item  color="warning2" >
    <ion-input (ionChange)="textoInf()" [disabled]="enPassw" type="password" placeholder="Confirmar Clave" [(ngModel)]="passw2"></ion-input>
  </ion-item>

  <ion-item *ngIf="mostrarTextoInf" [color]="OkError">
    <ion-label >{{textoOkError}}
        <ion-icon [name]="iconOkErr"></ion-icon>
    </ion-label>
  </ion-item>

  <button [disabled]="enableConfirmUser" ion-button icon-start (click)="registrarseFirebase()" round>
    <ion-icon name="star"></ion-icon>
    Confirmar
  </button>

  <button ion-button icon-end (click)="cancelarRegistro()" outline round>
    Cancelar
  </button>

