page-admin {

  .header{
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
  }

  .label{
      font-family: 'Sarpanch', sans-serif;
      font-size: 18px;
  }

  .button{
    height: 100px;
    font-size: 25px;
  }
  .button:active{
    font-size: 40px;
    background-color: rgba(8, 184, 31, 0.86);
  }
  .button:focus{
    font-family: fantasy;
    color: rgba(212, 3, 3, 0.83);
  }



}

