page-admin {

  .title{
    font-family: 'Lobster', cursive;
  }

  .boton{
    font-family: 'Lobster', cursive;
  }

  .button{
    height: 100px;
    font-size: 25px;
  }
  .button:active{
    font-size: 40px;
    background-color: rgba(15, 233, 40, 0.86);
  }
  .button:focus{
    font-family: fantasy;
    color: rgba(212, 3, 3, 0.83);
  }

}
