page-chat {
  .label{
    font-family: 'Wendy One', sans-serif;
  }

  .textUser{
    font-family: 'Wendy One', sans-serif;
    color: rgba(17, 167, 142, 0.77);
  }

  .textNoUser{
    font-family: 'Permanent Marker', cursive;
    color: rgba(8, 19, 10, 0.97);
  }

}
