page-home {

  background-color: #FFF01E;

  .title{
    font-family: 'Sarpanch', sans-serif;
  }

  .label{
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
  }
  .input{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
  }

  .alerta{
    color: red;
  }

}


